@import scala.concurrent.ExecutionContext
@import java.lang.ProcessBuilder.Redirect
@(list : List[UserDescription], page : Int, pageSize : Int, numberOfPage : Int)(implicit assetsFinder: AssetsFinder,request: RequestHeader,ec : ExecutionContext,session: play.api.mvc.Session,flash : Flash)
@{
    if(session.get("status").isDefined){
        if(session.get("status").get != "Admin"){
            routes.HomeController.index()
        }
    }
}


@main("LunAdmin", assetsFinder,session) {
    @{
        if(flash.get("success").isDefined){
                <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Sucess!</strong> The User has been created !
                </div><br/>
        }else if(flash.get("update").isDefined){
                <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Sucess!</strong> The User has been updated !
                </div><br/>
        }else if(flash.get("userNotFound").isDefined){
                <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> The User could not be found !
                </div><br/>
        }else if(flash.get("userDeleted").isDefined){
                <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Sucess!</strong> The User has been deleted !
                </div><br/>
        }else{
                    <br/>
        }
    }

    <div class="container">
        <h2>User Table</h2>
        <div class="container">
            <div class="row">
                <p>Type something in the input field to search the table :</p> &nbsp &nbsp &nbsp
                <a href="@routes.HomeController.goToAddUser"><img class="float-right" src="http://icons.iconarchive.com/icons/iconarchive/red-orb-alphabet/256/Math-plus-icon.png" width="25" height="25"></a>

                @*<a class="btn-sm btn-primary float-right px-0 ml-5" >User Group</a>*@
            </div>
        </div>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered table-striped small">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mail</th>
                </tr>
            </thead>
            <tbody id="myTable">
            @for(user <- list) {
                <tr>
                    <td>@user._id</td>
                    <td>@user.firstName</td>
                    <td>@user.lastName</td>
                    <td>@user.mail</td>
                    <td><a class="btn btn-success btn-sm text-white" href="@routes.HomeController.displayFullDetailedUser(user._id)"> Details</a> &nbsp <a onclick="return confirm('Delete User : @{user.firstName + " " + user.lastName} ');" href="@routes.HomeController.deleteUser(user._id,page,pageSize)" class="btn btn-danger btn-sm" >delete</a></td>
                </tr>
            }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    @if(page > 0){
                        <a class="page-link" href="@routes.HomeController.displayUser(page-1,pageSize)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    }else{
                        <a class="page-link" href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    }

                </li>
                @if(page > 9){
                    @if(numberOfPage > page+5){
                        @for(p <- page-5 to page+5){
                            <li class="page-item"><a class="page-link" href="@routes.HomeController.displayUser(p,pageSize)">@(p+1)</a></li>
                        }
                    }else{
                        @for(p <- page until numberOfPage+1){
                            <li class="page-item"><a class="page-link" href="@routes.HomeController.displayUser(p,pageSize)">@(p+1)</a></li>
                        }
                    }
                }else{
                    @if(numberOfPage > page+5){
                        @for(p <- 0 to 9){
                            <li class="page-item"><a class="page-link" href="@routes.HomeController.displayUser(p,pageSize)">@(p+1)</a></li>
                        }
                    }else{
                        @for(p <- 0 until numberOfPage+1){
                            <li class="page-item"><a class="page-link" href="@routes.HomeController.displayUser(p,pageSize)">@(p+1)</a></li>
                        }
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="@routes.HomeController.displayUser(page+1,pageSize)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <form method="post" action="@routes.HomeController.paginationDisplayUser()">
            @helper.CSRF.formField
            <input class="form-control-sm" type="number" value="@page" id="page" name="page" hidden>
            <select name="pageSize" id="pageSize" onchange="this.form.submit()">

            @for(pgSize <- Seq(5,10,25)){
                @if(pgSize == pageSize){
                    <option value="@pgSize" selected="selected">@pgSize</option>
                }else{
                    <option value="@pgSize">@pgSize</option>
                }
            }
            </select> item per page.
        </form>

    </div>

    <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
    </script>

}