@import scala.concurrent.ExecutionContext

@import tools.DateUtils
@import java.time.ZoneId
@(list : List[TaskDescription],localZoneTimeId : String, page : Int, pageSize : Int)(implicit assetsFinder: AssetsFinder,request: RequestHeader,ec : ExecutionContext,session: play.api.mvc.Session,flash: Flash)

@main("LunAdmin", assetsFinder,session) {

    @{
        if(flash.get("success").isDefined){
                <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Sucess!</strong> Your task has been created !
                </div><br/>
        }else if(flash.get("update").isDefined){
                <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Sucess!</strong> Your task has been updated !
                </div><br/>
        }else{
            <br/>
        }
    }

    <div class="container">
        <h2>Task Table</h2>
        <div class="container">
            <div class="row">
            <p>Type something in the input field to search the table :</p> &nbsp &nbsp &nbsp
                <a href="@routes.HomeController.goToAddTask"><img class="float-right" src="http://icons.iconarchive.com/icons/iconarchive/red-orb-alphabet/256/Math-plus-icon.png" width="25" height="25"></a>
            </div>
        </div>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered table-striped small">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>StartDate</th>
                    <th>Category</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody id="myTable">
            @for(task <- list) {
                <tr>
                    <td>@task._id</td>
                    <td>@task.description</td>
                    <td>@task.startDate.withZoneSameInstant(ZoneId.of(localZoneTimeId)).format(DateUtils.dateTimeFormatterLocal)</td>
                    <td>@task.category</td>
                    <td>@task.getType()</td>
                    <td><a class="btn btn-success btn-sm text-white" href="@routes.HomeController.displayFullDetailedTask(task._id)"> Details</a> &nbsp <a href="@routes.HomeController.deleteTask(task._id,task.`type`.toString,page,pageSize)" class="btn btn-danger btn-sm" onclick="return confirm('Delete Task : @{task._id} ');">delete</a></td>
                </tr>
            }
            </tbody>
        </table>

        <form method="post" action="@routes.HomeController.paginationDisplayTask()">
            @helper.CSRF.formField
            <input class="form-control-sm" type="number" onchange="this.form.submit()" value="@page" id="page" name="page">
        View <select name="pageSize" id="pageSize" onchange="this.form.submit()">
            @for(pgSize <- Seq(5,10,25)){
                @if(pgSize == pageSize){
                    <option value="@pgSize" selected="selected">@pgSize</option>
                }else{
                    <option value="@pgSize">@pgSize</option>
                }
            }
            </select> tasks at a time.
        </form>

    </div>

    <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
    </script>


}