@(user: User,listUserGroup : List[UserGroup], listStatus : List[String] , listOfRequiredPaper : List[String], localTimeZoneId : String, listOfTimeZone : List[String])(implicit assetsFinder: AssetsFinder, request: RequestHeader,session: play.api.mvc.Session,flash: Flash)

@main("LunAdmin", assetsFinder,session) {

    @{
        if(flash.get("badForm").isDefined){
                <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Failure!</strong> Your form ain't good !
                </div>
        }else if(flash.get("wrongMail").isDefined){
                <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Failure!</strong> Wrong Mail - Already Exist !
                </div>
        } else{
         <br/>
        }
    }

    <form method="post" enctype="multipart/form-data" action="@routes.HomeController.updateProfile()">
        @helper.CSRF.formField
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" value="@user.firstName" placeholder="Some First Name" required>
        </div>

        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" value="@user.lastName" placeholder="Some Last Name" required>
        </div>

        <div class="form-group">
            <label for="mail">Mail</label>
            <input type="email" class="form-control" name="mail" id="mail" value="@user.mail" placeholder="Some Mail" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" value="@user.password" id="password" placeholder="No one will ever know" required>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label><br>
            <input type="text" class="form-control" value="@user.phone" id="phone" name="phone"
            placeholder="01 02 03 04 05"
            pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}"
            required />
        </div>

        <div class="form-group">
            <label for="birthDate">Birth Date</label>
            <input type="date" value="@user.birthDate" class="form-control" name="birthDate" id="birthDate" >
        </div>

        <div class="form-group">
            <label for="hireDate">Hire Date</label>
            <input type="date" class="form-control" value="@user.hireDate" name="hireDate" id="hireDate" >
        </div>

        <input type="text" name="status" value="@user.status" hidden>

        <label for="groupName[]">Select a/multiple Group(s) :</label>
        <select class="form-control" id="groupName[]" name="groupName[]" multiple >
        @for(group <- listUserGroup){
            @if(user.groupName.isDefined){
                @if(user.groupName.get.contains(group.name)){
                    <option value="@group.name" selected="selected">@group.name</option>
                }else{
                    <option value="@group.name" >@group.name</option>
                }
            }else{
                <option value="@group.name" >@group.name</option>
            }
        }
        </select>

        <div class="form-group">
            <label for="picture">Picture (You can do it Later) |
                @if(user.picture.isDefined) {
                    <a href="@{user.picture.map(s => assetsFinder.path(s))}">Actual</a>
                }
            </label>
            <input type="file" accept=".png, .jpeg" class="form-control" name="picture" id="picture" >
        </div>


        @for(paper <- listOfRequiredPaper){
            <div class="form-group">
                <label for="paper@paper">@paper (You can do it Later) |
                    @if(user.cloudPaths.flatMap(list => list.find(p => p._1 == paper)).isDefined){
                        <a href="@{assetsFinder.path(user.cloudPaths.flatMap(list => list.find(p => p._1 == paper)).map(e => e._2).get)}">Actual</a>
                    }
                </label>
                <input type="file" accept=".pdf, .jpeg, .png, .docx" class="form-control" name="paper@paper" id="paper@paper" >
            </div>
        }

        <input type="text" value="@user.isActive" name="isActive" hidden>

        <div class="form-group">
            <label for="timeZone">Select a TimeZone : </label>
            <select class="form-control" id="timeZone" name="timeZone" >
            @for(timeZ <- listOfTimeZone){
                @if(user.timeZone == timeZ){
                    <option value="@timeZ" selected="selected">@timeZ</option>
                }else{
                    <option value="@timeZ" >@timeZ</option>
                }
            }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Update Your Info</button>
    </form>
}