@(user: User)(implicit assetsFinder: AssetsFinder, request: RequestHeader,session: play.api.mvc.Session,flash: Flash)

@main("LunAdmin", assetsFinder,session) {

    @helper.CSRF.formField
    <div class="form-group">
        <p>First Name : @user.firstName</p>
    </div>

    <div class="form-group">
        <p>Last Name : @user.lastName</p>
    </div>

    <div class="form-group">
        <p>Mail : @user.mail</p>
    </div>

    <div class="form-group">
        <p>Password : It's a secret</p>
    </div>

    <div class="form-group">
        <p>Phone : @user.phone</p>
    </div>

    <div class="form-group">
        <p>BirthDate: @user.birthDate</p>
    </div>

    <div class="form-group">
        <p>HireDate : @user.hireDate</p>
    </div>

    <div class="form-group">
        <p>User Group Associated :
        @user.groupName.foreach(list =>
            for(e <- list){
                print(e+ " ")
            }
        )
        </p>
    </div>

    <div class="form-group">
        <p>Picture : @user.picture.getOrElse("Not set yet")</p>
    </div>

    @for(paper <- user.cloudLinks.getOrElse(List())){
        <div class="form-group">
            <p>@paper._1 : @paper._2</p>
        </div>
    }

    <div class="form-group">
        <p>TimeZone : @user.timeZone</p>
    </div>

    <button class="btn btn-primary">Edit Profile</button>
}